<div id="<%= dom_id integration %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= integration.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= integration.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Credentials:</strong>
    <%= integration.credentials %>
  </div>
</div>
